li {
    margin: 10px 5px;
}

.hide {
    display: none;
}

.card {
    border: solid;
    max-height: 500px;

}

.title {
    margin: 0px auto 0 10px;
    font-size: 20px;
    padding: 0 0 0 15px;
    max-width: 40%;
    background-color: #898c94;
    border-radius: 10px 10px 0 0;

}

.title:hover{
    cursor: pointer;
    color: #4e4f57;
    transition: .2s;
}

#track-info * {
    margin: 5px 0;
    list-style-type: none;
}

#details {
    text-align: center;
}