
<div>
    <ul>
        <li *ngFor="let track of trackList">
            <h2 class="title">{{track.name}}</h2>
            <div class="card">
                <table style="width: 100%">
                    <tr>
                        <td style="text-align: center"></td>
                        <td rowspan="2">image</td>
                    </tr>
                    <tr>
                        <td id="details">
                        <li>Length: {{track.distance}}</li>
                        <li>Turns: {{track.turns}}</li>
                        </td>
                    </tr>
                </table>
            </div>
        </li>

    </ul>
</div>

<!--<div>-->
    <!--<ul>-->
        <!--<li *ngFor="let track of tracks">-->
            <!--<span>{{track.name}}</span>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->
