/***** Uncomment for box view *****/

/** {*/
/*border: 1px solid rgba(0, 0, 0, 0.3);*/
/*}*/

/********************************

/* Master Styles */
h1 {
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    font-size: 70px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;
}

h2{
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 200;
    line-height: 30px;
    margin: 0;
}

h3 {
    margin: 0;
    padding: 5px;
}

ul {
    list-style-type: none;
    padding: 0px;

}

.shadowed {
    box-shadow: #a0a1a9;
}

.container{
    width: 100%;
    margin: 0px;
}

.flex-container{
    /*background-color: #595b66;*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 1024px;
    margin: 0;

    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(150deg, lightsteelblue, gray); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(150deg, lightsteelblue, gray); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(150deg,lightsteelblue, gray); /* For Firefox 3.6 to 15 */
    background: linear-gradient(360deg,#5f626e, #393c47); /* Standard syntax (must be last) */
}

.card {
background-color: #c8cad0;
}