ul {
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: black;
}

.MainNav{
    float: left;
    font-family: "Arial Black";
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px 5px 12px;
    text-decoration: none;
    margin: 0 2px;
    transition: .5s;
}

.MainNav:hover {
    /*background-color: #3d3a3d;*/
    /*border-radius: 10px;*/
    /*padding: 5px 10px;*/
    /*margin: 0 2px;*/
    color: #a30203;
    cursor: pointer;
    transition: .3s;
}

