    <div class="container">
            <ul>
                <li *ngFor="let nav of nav" class="MainNav"
                    a routerLink="{{nav.route}}" routerLinkActive="active">{{nav.page}}</li>
            </ul>
    </div>


