body {
    background-color: #43454d;
    margin: 0;
    min-width: 650px;
}

menu {
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
}

.header {
    background-image: url("/images/RB1_0906.JPG");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    border-bottom: solid;
    border-top: solid;
    margin: 30px 0 0 0;
}

.header img{
    font-family: Beirut;
    margin: 20px auto;
    /*position: relative;*/
    text-align: center;
    top: 25%;
    max-height: 50%;
    color: #e9e3e3;
}

#head-text {
    font-family: Beirut;
    margin: 20px auto;
    /*position: relative;*/
    text-align: center;
    top: 25%;
    width: 50%;
    color: #e9e3e3;
}

.vid {
    height: 500px;
    margin: 20px 50px;
    text-align: center;
}


footer{
    text-align: center;
}







/*.banner{*/
    /*align-content: stretch;*/
    /*margin: 10px;*/
    /*background: white; !* For browsers that do not support gradients *!*/
    /*background: -webkit-linear-gradient(150deg, lightsteelblue, gray); !* For Safari 5.1 to 6.0 *!*/
    /*background: -o-linear-gradient(150deg, lightsteelblue, gray); !* For Opera 11.1 to 12.0 *!*/
    /*background: -moz-linear-gradient(150deg,lightsteelblue, gray); !* For Firefox 3.6 to 15 *!*/
    /*background: linear-gradient(150deg,lightsteelblue, black); !* Standard syntax (must be last) *!*/
    /*border: groove black;*/
    /*border-radius: 10px 10px 5px 5px;*/
/*}*/

