<head>
    <meta charset="UTF-8">
</head>

    <div class="header">
        <img src="/images/mad-logo.png" style="max-width: 100%">
    </div>
    <menu style="max-width: 100%"></menu>
    <router-outlet></router-outlet>
    <!-- Routed views go here -->
    <footer>
        ©2016 MadMoto
    </footer>

