
/*!********MIDDLE OF PAGE***********!*/
.main *{
    font-family: Avenir;
    margin: 5px;
    border-radius: 5px;
}

/*Entire Search Area div*/
#search-pane{
    display: inline-flex;
    width: 100%;
}

/*Individual Search Areas*/
#searcher, #search-tips{
    width: 50%;
    padding: 10px 0;
    text-align: center;
    background-color: #393b43;
}
#searcher{
    padding: 20px 0 10px 0;
}

#searcher *{
    margin: 5px;

}
#search-tips{
    text-align: left;
    color: #a0a1a9;
}

/*Search Results Area*/
#info{
    /*min-height: 500px;*/
    color: #a0a1a9;
}

#info div{
    background-color: #393b43;
}

#races-list{
    background-color: #30323d;
    margin: 0px 0;
}

ul {
    list-style: none;
}
/* Each race per event */
#races-list li{
    display: inline-block;
    min-width: 20%;
    text-align: right;
}

/* Race Row Styling */

#race-row-name{
    color: #00e9e9;
    text-transform: uppercase;
}

#race-row-grid{}

#race-row-place{}

#race-row-fastlap{}

button:hover {
    cursor: pointer;
    box-shadow: 2px 0px 15px 0px rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.2s;
}










/*!*div {*!*/
/*!*padding: 10px;*!*/
/*!*}*!*/

/*!*** Header Styles ***!*/

/*.header {*/
    /*font-family: "Arial Black", serif;*/
    /*font-size: 25px;*/
    /*margin: 0;*/
    /*text-align: center;*/

/*}*/

/*!*** List Item Styles ***!*/

/*#collapsible {*/
    /*background-color: #80828c;*/
    /*margin: 2px;*/
    /*font-size: 15px;*/
    /*font-family: Arial;*/
    /*height: 30px;*/
    /*width: 95%;*/
    /*border-radius: 8px;*/

/*}*/

/*#list-race{*/
    /*display: inline;*/
    /*width: 15%;*/
    /*margin: 5px 10px;*/
    /*display: inline-block;*/
    /*margin: 0px;*/
    /*text-align: center;*/
/*}*/

/*#list-heading {*/
    /*background-color: #959ba8;*/
    /*border: solid;*/
    /*margin: 8px 2px;*/

/*}*/

/*#data-pane{*/


/*}*/

/*.row-item{*/
    /*display: inline;*/

/*}*/

/*.list-item-date {*/
    /*width: 15%;*/
    /*margin: 5px 25px 5px 5px;*/
    /*display: inline-block;*/
    /*padding: 0px;*/
    /*text-align: center;*/

/*}*/

/*#event-header {*/
    /*display: inline;*/
    /*text-align: left;*/
    /*width: 50%;*/
    /*display: inline-block;*/
    /*margin: 0 0 0 25px;*/

/*}*/

/*.list-item-grid {*/
    /*width: 15%;*/
    /*display: inline-block;*/
    /*margin: 0px;*/
    /*text-align: center;*/
/*}*/
/*.list-item-place {*/
    /*width: 15%;*/
    /*display: inline-block;*/
    /*margin: 0px;*/
    /*text-align: center;*/
    /*color: #7d1c1c;*/
/*}*/

/*.list-item-points {*/
    /*width: 15%;*/
    /*display: inline-block;*/
    /*margin: 0px;*/
    /*text-align: center;*/
/*}*/

/*ul {*/
    /*font-size: 15px;*/
    /*list-style-type: none;*/
    /*padding: 0px;*/
/*}*/



/*#header {*/
    /*font-size: 25px;*/
    /*font-family: Arial;*/
    /*text-align: center;*/
    /*padding: 0px;*/
    /*height: 150px;*/
    /*margin: 10px;*/
    /*border: solid;*/

/*}*/

/*#inputs{*/
    /*height: auto;*/
    /*text-align: center;*/
    /*margin: 5px;*/
/*}*/

/*#output-pane{*/
    /*height: 500px;*/
    /*padding: 0px;*/
    /*margin: 5px;*/
    /*align-content: center;*/
/*}*/

/*#info {*/
    /*padding: 0px;*/
/*}*/



/*#expander {*/
    /*background-color: whitesmoke;*/
    /*border-radius: 5px;*/
    /*size: 5px 5px;*/
    /*margin: 5px 10px;*/


/*}*/

