 <div class="main">
        <div id="search-pane">
            <div id="searcher">
                <!--(2) on Enter or on search, sends the value of #search to the method in the component-->
                <input #search (keyup.enter)=searchRacer(search.value) type="text" placeholder="Enter Racer Number"><br>
                <button #button (click)="searchRacer(search.value)">Search</button>
            </div>
            <div id="search-tips">
                <ol>
                    <li>Enter Race Number to search for CCS Racer.</li>
                    <li>Results for all events are shown.</li>
                    <li>Expand event to show individual race results.</li>
                </ol>
            </div>
        </div>

        <!--Displays only if showResults property is true-->
        <div *ngIf="showResults" class="flex-container" id="info">
            <div id="details">
                <h3>Rider Details</h3>
                <ul>
                    <li>Number: </li>
                    <li>Name:  </li>
                    <li>Category: </li>
                </ul>
            </div>
            <div *ngFor="let racer of racers">
                <div *ngFor="let data of generateArray(racer.data)">
                    <!--<button id="expander">+</button>-->
                    <span>{{data.date}} --- {{data.track}}</span>
                    <div *ngFor="let races of generateArray(data.races)" >
                        <ul id="races-list">
                            <li id="race-row-name">{{races.race}}</li>
                            <li id="race-row-grid">{{races.grid}}</li>
                            <li id="race-row-place">{{races.result}}</li>
                            <li id="race-row-fastlap">{{races.fastlap}}</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

